body {
  background-color: #000;
}

body ul {
  list-style: none;
}

header {
  background-color: rgba(255, 255, 255, 0.08);
  min-height: 3rem;
  width: 100%;
}

header .menu-btn {
  background-color: rgba(255, 255, 255, 0);
  min-height: 36px;
}

header .menu-btn .menu-icon {
  color: rgba(255, 255, 255, 0.6);
}

header .menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

header .menu-btn:hover .menu-icon {
  color: #fff;
}

header form {
  min-width: 50%;
}

header .category {
  z-index: 2;
}

header .category .category-btn {
  padding: 5px;
  height: 34px;
}

header .category .category-list {
  display: none;
}

header .category .category-list li {
  width: 235px;
  padding: 20px 24px;
  background-color: #282828;
}

header .category .category-list li:hover {
  background-color: #4a4a4a;
}

header .category .category-list a {
  text-decoration: none;
  color: #fff;
}

header .search {
  width: 100%;
  height: 34px;
  padding: 5px 0 5px 10px;
}

header .search:focus {
  outline: none;
}

header .search-btn {
  height: 34px;
  padding: 5px 10px;
}

header .imdbpro {
  padding: 10px 12px;
  margin: 0 5px;
}

header .imdbpro:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

header .line {
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.16);
}

header .header-wl-btn {
  margin-left: 5px;
  padding: 5px 10px;
}

header .header-wl-btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

header .header-wl-btn svg {
  opacity: 0.54;
}

header .header-wl-btn span {
  font-size: 14px;
}

header .account {
  z-index: 2;
}

header .account:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

header .account-btn {
  padding: 5px;
}

header .account-btn svg {
  opacity: 0.54;
}

header .account-list {
  display: none;
  line-height: 2.5;
  padding: 0;
  right: 0;
}

header .account-list li {
  min-width: 170px;
  height: 48px;
  padding: 0 16px;
  background-color: #282828;
}

header .account-list li a {
  text-decoration: none;
  color: #fff;
}

header .account-list li:hover {
  background-color: #4a4a4a;
}

.wl-text {
  cursor: pointer;
}

.wl-text h3 {
  padding-left: 10px;
  border-left: 5px solid #f5c518;
}

.wl-text span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.wl-text:hover .fa-angle-right {
  color: #f5c518;
}

.swiper-container {
  margin-top: 10px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img:hover {
  opacity: 0.9;
}

.swiper-slide .tag .fas.fa-check {
  position: absolute;
  top: 10px;
  left: 3px;
  z-index: 1;
}

.swiper-slide .tag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  border-bottom: 16px solid rgba(255, 255, 255, 0);
  border-left: 16px solid #f5c518;
  border-right: 16px solid #f5c518;
}

.swiper-slide .tag:hover::after {
  border-left-color: #f2bb07;
  border-right-color: #f2bb07;
}

.swiper-slide .poster-text {
  background-color: #1a1a1a;
  padding: 15px 0 15px 10px;
  border-radius: 0 0 4px 4px;
}

.swiper-slide .poster-text .fas.fa-star {
  color: #f5c518;
}

.swiper-slide .poster-text .score {
  color: rgba(255, 255, 255, 0.7);
}

.swiper-slide .poster-text .far.fa-star {
  font-size: 8px;
  margin-left: 10px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 3;
  border-radius: 10px;
}

.swiper-slide .poster-text .far.fa-star:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.swiper-slide .poster-text .wl-btn {
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 20px 0;
  color: #5799ef;
}

.swiper-slide .poster-text .wl-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.swiper-slide .poster-text .trailer {
  width: 90px;
  padding: 8px 0 4px;
  background-color: #1a1a1a;
}

.swiper-slide .poster-text .trailer:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

.swiper-slide .poster-text .trailer .fas {
  margin: 0 5px;
  font-weight: 500;
  font-size: 18px;
}

.swiper-button-prev, .swiper-button-next {
  color: #fff;
  font-size: 24px;
  border: 2px solid gray;
  padding: 30px 24px;
  border-radius: 4px;
  top: 30%;
}

.swiper-button-prev:hover, .swiper-button-prev:hover, .swiper-button-next:hover, .swiper-button-next:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5c518;
}

.swiper-button-prev::after, .swiper-button-prev::after, .swiper-button-next::after, .swiper-button-next::after {
  font-size: 24px;
  font-weight: 900;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-disabled {
  display: none;
}

@media (max-width: 599px) {
  .menu-btn {
    -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
            order: -1 !important;
  }
  h1 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .category, .search {
    display: none;
  }
  .search-btn {
    color: #fff;
    background-color: rgba(255, 255, 255, 0) !important;
  }
}

@media (max-width: 1199px) {
  .menu-btn {
    -webkit-box-ordinal-group: 0 !important;
        -ms-flex-order: -1 !important;
            order: -1 !important;
  }
}
/*# sourceMappingURL=all.css.map */
