$bg-color:rgba(255,255,255,0.08);
$bg-color-hover:rgba(255,255,255,0.03);
$icon-color:rgba(255,255,255,0.6);
$yellow:#f5c518;

body{
    background-color: #000;
    ul{
        list-style: none;
    }
}

header{
    background-color: $bg-color;
    min-height:3rem;
    width:100%;
    .menu-btn{
        background-color: rgba(255,255,255,0);
        min-height:36px;
        .menu-icon{
            color: $icon-color;
        }
        &:hover{
            background-color:$bg-color;
            border-radius: 4px;
            .menu-icon{
                color:#fff;
            }
        }
    }
    form{
        min-width:50%;
    }
    .category{
        z-index:2;
        .category-btn{
            padding:5px;
            height:34px;
        }
        .category-list{
            display:none;
            li{
                width:235px;
                padding:20px 24px;
                background-color: rgba(40,40,40,1);
                &:hover{
                    background-color:rgba(74,74,74,1);
                }
            }
            a{
                text-decoration: none;
                color:#fff;
            }
        } 
    }
    .search{
        width:100%;
        height:34px;
        padding:5px 0 5px 10px;
        &:focus{
            outline:none;
        }
    }
    .search-btn{
        height:34px;
        padding:5px 10px;
    }    
    .imdbpro{
        padding:10px 12px;
        margin:0 5px;
        &:hover{
            background-color:$bg-color;
            border-radius: 4px;
        }
    }
    .line{
        height:32px;
        border:1px solid rgba(255,255,255,0.16);
    }
    .header-wl-btn{
        margin-left: 5px;
        padding:5px 10px;
        &:hover{
            background-color:$bg-color;
            border-radius: 4px;
        }
        svg{
            opacity: 0.54;
        }
        span{
            font-size:14px;
        }
    }
    .account{
        z-index:2;
        &:hover{
            background-color: rgba(255,255,255,0.08);
            border-radius: 4px;
        }
    }
    .account-btn{
        padding:5px;
        svg{
            opacity: 0.54;
        }    
    }
    .account-list{
        display:none;
        line-height:2.5;
        padding: 0;
        right:0;
    }
    .account-list li{
        min-width:170px;
        height:48px;
        padding:0 16px;
        background-color: rgba(40,40,40,1);
        a{
            text-decoration: none;
            color:#fff;
        };
        &:hover{
            background-color:rgba(74,74,74,1);
        }
    }
}

.wl-text{
    cursor: pointer;
    h3{
        padding-left:10px;
        border-left:5px solid $yellow;
    }
    span{
        color:rgba(255,255,255,0.7);
        font-size:20px;
    }
    &:hover{
        .fa-angle-right{
            color:$yellow;
        }
    }
}

.swiper-container {
    margin-top:10px;
}    

.swiper-slide{
    display: flex;
    justify-content: center;
    img:hover{
        opacity:0.9;
    }
    .tag{
        .fas.fa-check{
            position: absolute;
            top:10px;
            left:3px;
            z-index:1;
        }
        &::after{
            content:'';
            position: absolute;
            top:0;
            left:0;
            height:47px;
            border-bottom:16px solid rgba(255,255,255,0);
            border-left:16px solid $yellow;
            border-right:16px solid $yellow;
        }
    }
    .tag:hover::after{
        border-left-color:rgba(242, 187, 7, 1);
        border-right-color:rgba(242, 187, 7, 1);
    }
    .poster-text{
        background-color:#1a1a1a;
        padding:15px 0 15px 10px;
        border-radius:0 0 4px 4px;
        .fas.fa-star{
            color:$yellow;
        }
        .score{
            color:rgba(255,255,255,0.7);
        }
        .far.fa-star{
            font-size: 8px;
            margin-left: 10px;
            color:#fff;
            width:40px;
            height:40px;
            text-align:center;
            line-height:3;
            border-radius: 10px;
            &:hover{
                background-color:$bg-color;
            }
        }
        .wl-btn{
            width:160px;
            height:36px;
            border-radius:4px;
            border:none;
            background-color:$bg-color;
            margin:20px 0;
            color:#5799ef;
            &:hover{
                background-color:rgba(255,255,255,0.2);
            }
        }
        .trailer{
            width:90px;
            padding:8px 0 4px;
            background-color:#1a1a1a;
            &:hover{
                background-color:$bg-color;
                border-radius: 4px;
            }
            .fas{
                margin:0 5px;
                font-weight:500;
                font-size:18px;
            }
        }
    }
}
       
.swiper-button-prev,.swiper-button-next{
    color:#fff;
    font-size:24px;
    border:2px solid gray;
    padding:30px 24px;
    border-radius: 4px;
    top:30%;
    &:hover,&:hover{
        display:flex;
        color:$yellow;
    }
    &::after,&::after{
        font-size:24px;
        font-weight:900;
}} 

.swiper-button-next{
    right:0;
}

.swiper-button-prev{
    left:0;
}

.swiper-button-disabled{
    display: none;
}    

@media (max-width:599px){
    .menu-btn{
        order:-1!important;
    }
    h1{ 
        order:0!important;
    }
    form{
        flex-direction: row-reverse;
    }
    .category,.search, .name, .down{
        display: none;
    }
    .search-btn{
        color:#fff;
        background-color:rgba(255,255,255,0)!important;
    }
}

@media (max-width:1199px){
    .menu-btn{
        order:-1!important;
    }
}

 

